@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

@{ string userString = HttpContextAccessor.HttpContext.Session.GetString("ValidAdminUser");
    UserAdmin user = null;
    if (userString != null)
    {
        user = JsonConvert.DeserializeObject<UserAdmin>(userString);

    } 
 }



@model VmBase
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <title>Resido-admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Responsive bootstrap 4 admin template" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/areas/assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/areas/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
    <link href="~/areas/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/areas/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />

</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">


        <!-- Topbar Start -->
        <div class="navbar-custom">
            <ul class="list-unstyled topnav-menu float-right mb-0">


                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle  waves-effect" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="mdi mdi-email noti-icon"></i>
                        <span class="badge badge-danger rounded-circle noti-icon-badge">@Model.Contacts.Count()</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                        <!-- item-->
                        <div class="dropdown-item noti-title">
                            <h5 class="font-16 m-0">
                                <span class="float-right">
                                    <a href="#" class="text-dark">
                                        <small>Clear All</small>
                                    </a>
                                </span>Messages
                            </h5>
                        </div>

                        <div class="slimscroll noti-scroll">

                            <div class="inbox-widget">
                                @foreach (var item in Model.Contacts)
                                {
                                    <a asp-controller="contact" asp-action="contactmessage">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img"><img src="~/image/avatar.png" class="rounded-circle" alt=""></div>
                                            <p class="inbox-item-author">@item.Name</p>
                                            <p class="inbox-item-text text-truncate">@item.Message</p>
                                        </div>
                                    </a>
                                 }
                            </div>
                        </div>
                        <!-- All-->
                        <a asp-controller="contact" asp-action="contactmessage"  class="dropdown-item text-center text-primary notify-item notify-all">
                            See all Messages
                            <i class="fi-arrow-right"></i>
                        </a>

                    </div>
                </li>

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="~/areas/assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                        <span class="d-none d-sm-inline-block ml-1">@(user!=null?user.Name:"")</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome !</h6>
                        </div>



                        <div class="dropdown-divider"></div>

                        <!-- item-->
                        <a asp-controller="account" asp-action="logout" class="dropdown-item notify-item">
                            <i class="mdi mdi-logout-variant"></i>
                            <span>Logout</span>
                        </a>

                    </div>
                </li>

            </ul>

            <!-- LOGO -->
            <div class="logo-box">
                <a asp-controller="home" asp-action="index" class="logo text-center">
                    <span class="logo-lg">
                        <img src="~/areas/assets/images/logo-light.png" alt="" height="18">
                        <!-- <span class="logo-lg-text-light">Zircos</span> -->
                    </span>
                    <span class="logo-sm">
                        <!-- <span class="logo-sm-text-dark">Z</span> -->
                        <img src="~/areas/assets/images/logo-sm.png" alt="" height="24">
                    </span>
                </a>
            </div>

            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                    <button class="button-menu-mobile waves-effect">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>

                <li class="d-none d-sm-block">
                    <form class="app-search">
                        <div class="app-search-box">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <div class="input-group-append">
                                    <button class="btn" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>

                <li>
                    <a class="nav-link dropdown-toggle mr-0 waves-effect" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="~/areas/assets/images/flags/us.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">English</span>
                    </a>
                </li>


            </ul>
        </div>
        <!-- end Topbar -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu">

            <div class="slimscroll-menu">

                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <ul class="metismenu" id="side-menu">

                        <li class="menu-title">Navigation</li>

                        <li>
                            <a href="javascript: void(0);" class="waves-effect waves-light">
                                <i class="mdi mdi-view-dashboard"></i>
                                <span class="badge badge-success badge-pill float-right">@Model.Properties.Count()</span>
                                <span>All Properties</span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a asp-controller="properties" asp-action="index">Properties</a></li>
                            </ul>
                        </li>


                        <li>
                            <a href="javascript: void(0);" class="waves-effect waves-light">
                                <i class="fas fa-sign-in-alt"></i>
                                <span>Property Items  </span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a asp-controller="properties" asp-action="propertystatus">Status List</a></li>
                                <li><a asp-controller="properties" asp-action="propertytype">Property Type</a></li>
                                <li><a asp-controller="properties" asp-action="propertycities">Cities</a></li>
                                <li><a asp-controller="properties" asp-action="bathroomcount">Bathoom Count</a></li>
                                <li><a asp-controller="properties" asp-action="bedroomcount">Bedroom Count</a></li>
                                <li><a asp-controller="properties" asp-action="roomscount">Room Count</a></li>
                                <li><a asp-controller="properties" asp-action="buildingage">Property Ages</a></li>
                                <li><a asp-controller="properties" asp-action="garagecount">Garage Count</a></li>
                            </ul>
                        </li>



                        <li>
                            <a href="javascript: void(0);" class="waves-effect waves-light">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>Our Users</span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a asp-controller="agents" asp-action="agents">Agents</a></li>
                                <li><a asp-controller="agents" asp-action="agencies">Agencies</a></li>
                                <li><a asp-controller="agents" asp-action="customers">Customers</a></li>
                            </ul>
                        </li>


                        <li>
                            <a href="javascript: void(0);" class="waves-effect waves-light">
                                <i class="fas fa-home"></i>
                                <span>Home</span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a asp-controller="home" asp-action="howitworks">How It Works</a></li>
                                <li><a asp-controller="home" asp-action="about">About Us</a></li>
                                <li><a asp-controller="home" asp-action="ourmission">Our Mission</a></li>
                                <li><a asp-controller="home" asp-action="OurMissionImage">Our Mission Image</a></li>



                            </ul>
                        </li>


                        <li>
                            <a href="javascript: void(0);" class="waves-effect waves-light">
                                <i class="fas fa-address-book"></i>
                                <span>Contacts</span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a asp-controller="contact" asp-action="ContactMessage">Messages</a></li>
                                <li><a asp-controller="contact" asp-action="ContactPhones">Phones</a></li>
                            </ul>
                        </li>

                    </ul>

                </div>
                <!-- End Sidebar -->

                <div class="clearfix"></div>

                <div class="help-box">
                    <h5 class="text-muted mt-0">Contacts</h5>
                    <p class="">
                        <span class="text-info">Email:</span>
                        <br /> rufatzulfigarov@gmail.com
                    </p>
                    <p class="mb-0">
                        <span class="text-info">Call:</span>
                        <br /> +994 51 561 03 82
                    </p>
                </div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        @RenderBody()


        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    2018 - 2020 &copy; Zircos theme by <a href="#">Coderthemes</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Vendor js -->
    <script src="~/areas/assets/js/vendor.min.js"></script>

    <script src="~/areas/assets/libs/morris-js/morris.min.js"></script>
    <script src="~/areas/assets/libs/raphael/raphael.min.js"></script>

    <script src="~/areas/assets/js/pages/dashboard.init.js"></script>

    <!-- App js -->
    <script src="~/areas/assets/js/app.min.js"></script>

</body>
</html>