@model VmBase
@{
    ViewData["Title"] = "Index";
}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">

            <h1 class="h3 mb-2 text-gray-800">Our Mission</h1>

            <div style="margin-top:20px" class="card shadow mb-4">

                <div class="card-body">
                    @if (Model.OurMissions.Count()<3)
                    {
                        <div style="margin-bottom:15px" class="col-lg-12">
                            <a class="btn btn-primary" asp-area="admin" asp-controller="home" asp-action="createom">Add</a>
                        </div>
                    }
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Icon</th>
                                    <th>Title</th>
                                    <th>Description</th>

                                    <th style="width:300px"></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.OurMissions)
                                {
                                    <tr>
                                        <td>@item.Icon</td>
                                        <td>@item.Title</td>
                                        <td>@item.Desc</td>
                                        <td>
                                            <a style="margin-left:60px" class="btn btn-primary" asp-area="admin" asp-controller="home" asp-action="updateom" asp-route-id="@item.Id">Update</a>
                                            <a style="margin-left:10px" class="btn btn-danger" asp-area="admin" asp-controller="home" asp-action="deleteom" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')">Delete</a>
                                        </td>
                                    </tr>
                                 }
                                <tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>















