@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

@{ string agentCustomerString = HttpContextAccessor.HttpContext.Session.GetString("ValidAgentCustomer");
    MyProfileForAgents agents = null;
    if (agentCustomerString != null)
    {
        agents = JsonConvert.DeserializeObject<MyProfileForAgents>(agentCustomerString);

    } 
}

@model MyProfileForAgents


<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <h2 class="ipt-title">Welcome!</h2>
                <span class="ipn-subtitle">Welcome To Your Account</span>

            </div>
        </div>
    </div>
</div>

<section class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="filter_search_opt">
                    <a href="javascript:void(0);" onclick="openFilterSearch()">Dashboard Navigation<i class="ml-2 ti-menu"></i></a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-12">

                <div class="simple-sidebar sm-sidebar" id="filter_search">

                    <div class="search-sidebar_header">
                        <h4 class="ssh_heading">Close Filter</h4>
                        <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
                    </div>

                    <div class="sidebar-widgets">
                        <div class="dashboard-navbar">

                            <div class="d-user-avater">
                                <img src="~/Uploads/Images/@Model.ProfileImage" class="img-fluid avater" alt="">
                                <h4>@Model.OwnerName</h4>
                                <span>@Model.State, @Model.City</span>
                            </div>

                            <div class="d-navigation">
                                <ul>
                                    <li class="active"><i class="ti-user"></i>My Profile</li>
                                    <li><a asp-controller="home" asp-action="myproperties"><i class="ti-layers"></i>My Properties</a></li>
                                    <li><a asp-controller="otherfeatures" asp-action="index"><i class="fas fa-bars"></i>Additional Property Features</a></li>
                                    <li><a asp-controller="otherfeatures" asp-action="schoolsaround"><i class="fas fa-graduation-cap"></i>Schools Around</a></li>
                                    <li><a asp-controller="otherfeatures" asp-action="foodaround"><i class="fas fa-cheese"></i>Food Around</a></li>
                                    <li><a asp-controller="socialtomyprofile" asp-action="create"><i class="lni-twitter"></i>Social Media</a></li>
                                    <li><a asp-controller="home" asp-action="messages"><i class="ti-email"></i>Messages</a></li>
                                    <li><a asp-controller="account" asp-action="changepassword" ><i class="ti-unlock"></i>Change Password</a></li>
                                    <li><a asp-controller="account" asp-action="logout"><i class="ti-power-off"></i>Log Out</a></li>

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-9 col-md-12">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form class="dashboard-wraper" asp-controller="account" asp-action="updatemyprofile" method="post" enctype="multipart/form-data">
                    <div class="form-submit">
                        <h4>My Account</h4>
                        <div class="submit-section">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Your Name</label>
                                    <input type="text" asp-for="@Model.OwnerName" class="form-control">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Email</label>
                                    <input type="email" asp-for="@Model.Email" class="form-control">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Your Title</label>
                                    <input type="text" asp-for="@Model.YourPosition" class="form-control">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Phone</label>
                                    <input type="text" asp-for="@Model.Phone" class="form-control">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Address</label>
                                    <input type="text" asp-for="@Model.Adress" class="form-control">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>City</label>
                                    <input type="text" asp-for="@Model.City" class="form-control">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>State</label>
                                    <input type="text" asp-for="@Model.State" class="form-control">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Zip</label>
                                    <input type="text" asp-for="@Model.ZipCode" class="form-control">
                                </div>
                                <div style="display:none" class="form-group col-md-6">
                                    <label>Who?</label>
                                    <input type="text" asp-for="@Model.RegistrationOptionSelectId" class="form-control">
                                </div>
                                <div style="display:none" class="form-group col-md-6">
                                    <label>Who?</label>
                                    <input type="text" asp-for="@Model.Password" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="image">Profile Image</label>
                                    <input class="form-control" id="image" asp-for="@Model.ImageFile">
                                    <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
                                    <img src="~/Uploads/Images/@Model.ProfileImage" height="100" />
                                </div>


                                <div class="form-group checkbox">
                                    <label for="title" class="d-none"></label>
                                    <span>Register as agency?</span>
                                    <input id="anyId" asp-for="@Model.IsAgency">
                                </div>
                                <div id="createacc" class="form-group" style="@(Model!=null&&Model.IsAgency==true?"":"display:none;")">
                                    <div class="form-group col-md-6">
                                        <input class="form-control" type="text" asp-for="@Model.CompanySize" placeholder="Company Size:">
                                        <span class="text-danger" asp-validation-for="@Model.CompanySize"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input class="form-control" type="text" asp-for="@Model.CompanyStatus" placeholder="Company Status:">
                                        <span class="text-danger" asp-validation-for="@Model.CompanyStatus"></span>
                                    </div>
                                </div>


                                <div class="form-group col-md-12">
                                    <label>About</label>
                                    <textarea class="form-control" asp-for="@Model.About"></textarea>
                                    <span asp-validation-for="@Model.About" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-submit">
                        <h4>Social Accounts</h4>
                        <div class="submit-section">
                            <div class="row">
                                @foreach (var item in Model.SocialToMyProfs)
                                {
                                    <div class="form-group col-md-6">
                                        <label>@item.SocialsMyProfile.Icon</label>
                                        <input type="text" asp-for="@item.Link" class="form-control" readonly>
                                        <a asp-controller="socialtomyprofile" asp-action="delete" asp-route-id="@item.Id"onclick="return confirm('Are you sure?')"><i style="margin-left:5px; margin-top:10px" class="far fa-trash-alt"></i></a>

                                    </div>
                                }
                                <input type="hidden" name="Id" value="@Model.Id" />
                                <input type="hidden" name="ProfileImage" value="@Model.ProfileImage" />

                                <div class="form-group col-lg-12 col-md-12">
                                    <button class="btn btn-theme-light-2 rounded" type="submit">Save Changes</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</section>


